.auction-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 60px);
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
  flex-direction: column;
}

.auction-wrapper.on {
  display: flex;
}

.auction-container {
  display: flex;
  flex-direction: row;
  width: 95%;
  /* max-width: 1300px; */
  background: rgba(161, 191, 163, 0.85);
  border-radius: 15px;
  /* padding: 20px; */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  height: 90%;
  /* max-height: 800px; */
  position: relative;
}

.auction-container-left {
  flex: 3; /* 30% */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: 20px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.auction-container-mid {
  flex: 0.3; /* 10% */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.auction-container-mid-inner {
  background: rgba(255, 255, 255, 0.5); /* 임시 배경색 */
}

.auction-container-right {
  flex: 6; /* 60% */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.auction-container-right > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-auction-start {
  background-color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
  width: 100%;
  line-height: 32px;
}

.auction-seller-video-container {
  background-color: #f96363;
  border-radius: 15px;
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.auction-container-left .user-info {
  width: 80%;
  margin: auto;
}

.auction-seller-video-icon {
  width: 100px;
  height: 100px;
  background-color: #ffffff;
  border-radius: 50%;
}

.auction-seller-video-name {
  margin-top: 10px;
  color: white;
}

.auction-buyer-video-container {
  background-color: #ffffff;
  border-radius: 15px;
  width: 100%;
  max-width: 300px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-bottom: 20px;
}

.auction-buyer-video-container .winner {
  background-color: #f96363;
  border-radius: 15px;
  width: 100%;
  max-width: 300px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-bottom: 20px;
}

.auction-buyer-video-icon {
  width: 100px;
  height: 100px;
  background-color: #d3d3d3;
  border-radius: 50%;
}

.auction-buyer-video-name {
  margin-top: 10px;
  color: black;
}

.bid-price {
  background-color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
  line-height: 32px;
}

.bid-price img {
  display: inline;
}

.auction-wrapper .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #000;

}

.no-one-is-here {
  align-items: center;
}

.video-container {
  /* position: relative; */
  background: #3b3b3b;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 10px;
  z-index: 2;
}

.video-container video {
  width: 100%;
  height: 100%;
}

.video-container .participant-data {
  position: absolute;
  top: 0;
  left: 0;
}

.auction-seller-local-userinfo {
  padding-top: 10px;
  margin-top: 10px;
}

.max-bid-price {
  background-color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
  width: 100%;
  line-height: 32px;
}



/* 여기부터 리뉴얼 */
.auction-new-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;  
  z-index: 1002;
}

.auction-new-modal {
  width: 90%;
  height: 90%;
  background: #fff;
  border-radius: 15px;
  /* padding: 20px; */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  transition: width 0.3s ease-in-out; /* 너비 변경을 위한 transition 추가 */
  position: relative;
}

.auction-new-modal.modal-expanded {
  width: 70%; /* 슬라이드 메뉴가 숨겨질 때의 너비 */
}

.auction-new-modal .close-button{
  right: 0px;
  z-index: 3;
}

.auction-new-left {
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 33%;
  height: 100%;
  background-color: #000;
  border-radius: 15px 0 0 15px;
  transition: transform 0.3s ease-in-out; /* 슬라이드 효과를 위한 transition 추가 */
}

/* 슬라이드 아웃 상태 정의 */
.auction-new-left.slide-out {
  /* display: none;  */
  /* 슬라이드 아웃 상태에서는 화면에 보이지 않도록 display: none; */
  position: absolute; /* 추가 */
  left: 0; /* 추가 */
  top: 0; /* 추가 */
  z-index: -1; /* 추가 */
  transform: translateX(-20%); /* 왼쪽으로 슬라이드 아웃 */
}

.vertical-text{
  display: none;
}
.auction-new-left.slide-out .vertical-text {
  /* writing-mode: vertical-rl; 세로 쓰기 설정 */
  /* transform: rotate(180deg); 텍스트 180도 회전 */
  white-space: nowrap;
  color: orange;
  font-size: 25px;
  display: block;
  position: absolute;
  left: 20px;
}

.auction-new-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 100%;
  position: relative;
  z-index: 2; /* 추가 */
}

.toggle-product-detail {
  position: absolute;
  top: 5px;
  left: 5px;
  background-image: url('../../../public/icon/svg/double-left.svg');
  background-repeat: no-repeat;
  background-size: 24px;
  width: 24px;
  height: 24px;
  transform: rotate(180deg);
  z-index: 3; /* 모든 요소들보다 높게 설정 */
}

.toggle-product-detail.open {
  transform: rotate(0deg);
}

.product-detail-new {
  width: 100%;
  height: 100%;
  color: #fff;
  padding: 20px; /* 내부 여백 설정 */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.auction-new-left.slide-out .product-detail-new {
  display: none;
}

.product-detail-new h2{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 54px;
  margin-top: 54px;
}
.product-detail-new h1{
  color: #FC9905;
  font-size: 30px;
  font-weight: bold; 
  margin-bottom: 26px;
}

.product-detail-new pre {
  font-size: 18px; /* 본문 폰트 사이즈 설정 */
  white-space: pre-wrap; /* 줄바꿈 및 공백 유지 설정 */
  line-height: 1.6; /* 줄간격 설정 */
  margin-bottom: 30px; /* 본문 아래 여백 설정 */
}

.starting-price {
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 20px;
  width: 100%;
  padding-left: 60px;
  display: flex; /* Flexbox 사용 */
  flex-direction: column; /* 요소들을 세로 방향으로 배치 */
  background: url('../../../public/icon/svg/starting_price.svg') no-repeat 10px center; /* 배경 이미지 설정 */
  background-color: #fff;
}

.starting-price span {
  color: #f00;
}
.starting-price span:first-child {
  color: #000;
  font-weight: bold;
}

.auction-new-right-top {
  width: 100%;
  height: 60%;
  position: relative;
}

.auction-new-right-bottom {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: space-between; /* 두 번째와 세 번째 div를 좌우로 분리 */
}

.auction-new-right-left {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}

.auction-new-right-left > div {
  flex: 0 0 20%; /* 각 자식 요소의 너비를 20%로 설정 (5개씩 배치) */
  box-sizing: border-box; /* 패딩과 보더를 포함한 전체 크기 계산 */
  padding: 10px;
  text-align: center;
  border: 2px solid #999;
  display: flex; /* Flexbox 레이아웃 사용 */
  flex-direction: column; /* 세로 방향으로 정렬 */
  justify-content: center; /* 세로 중앙 정렬 */
  border-radius: 5px;
}

.auction-new-right-right {
  width: 40%;
  padding: 20px;
}
.auction-new-right-right .title h1 {
  font-size: 25px;
  font-weight: bold;
}

body{
  -ms-overflow-style: none;
}
  
::-webkit-scrollbar {
  display: none;
}
.syschat {
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 0;
  /* opacity: 0.4; */
  background-color: rgba( 204,204 ,204, 0.4 );
  overflow-y: auto;
}
.syschat:hover , .syschat:active , .syschat:focus {
  background-color: rgba( 204,204 ,204, 0.8 );
}

.syschat > p {
  margin: 0;
  padding: 1px;
  font-size: 14px;
  font: caption;
  color: #000;
}

.isAuctionInProgress {
  line-height: 40px;
  font-size: 16px;
  padding: 5px 0;
  border-radius: 2em;
  padding-left: 45px;
  width: 150px;
  text-align: center;
  position: absolute;
  top: 20px;
  right: 20px;
  display: inline-block;
  color : #fff;
  background: url('../../../public/icon/svg/onair.svg') no-repeat 20px center; /* 배경 이미지 설정 */
  background-color: #2359E4;
  opacity: 0.8;
}

.auction-new-right-top .seller{
  color: #A1A1A1;
  display: inline-block;
  margin-top: 30px;
}

.auction-new-right-top .seller .seller-n{
  display: inline;
}
.auction-new-right-top .product-name{
  font-size: 24px;
  font-weight: bold;
  display: block;
  margin-top: 20px;
}

.voice-input {
  margin-top : 30px;
}

.voice-input > span, .minimun-bid > span{
  font-size: 12px;
  color: #A1A1A1;
}

.voice-input input.bid_price {
  width: 70%;
  height: 40px;
  border: 1px solid #A1A1A1;
  border-radius: 10px;
  padding: 0 20px;
  padding-left: 30px;
  font-size: 16px;
  outline: none;
  background: url('../../../public/icon/svg/voice.svg') no-repeat 0px center;
}

.voice-input .bid_button {
  width: calc( 30% - 10px );
  height: 40px;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
  margin-left: 10px;
  background-color: #2359E4;
  color: #fff;
}

.minimun-bid {
  margin-top : 30px;
}

.bid-button-div {
  width: 70%;
  margin-top: 10px;
}

.bid-button-div .bid-button {
  width: 50%;
  text-align: left;
  padding: 5px;
  border: 1px solid #a1a1a1;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  padding-left: 10px;
}


.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  position: absolute;
  right: 100px;
  bottom: 100px;
  opacity: 0.3;
}
.circle-container:hover {
  opacity: 0.7;
}

.circle {
  width: 159px;
  height: 159px;
  border-radius: 50%;
  border: 10px solid #f00;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.number {
  font-size: 48px;
  color: #f00;
  position: absolute;
}