.auction-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 60px);
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
  flex-direction: column;
}

.auction-wrapper.on {
  display: flex;
}

.auction-container {
  display: flex;
  flex-direction: row;
  width: 95%;
  /* max-width: 1300px; */
  background: rgba(161, 191, 163, 0.7);
  border-radius: 15px;
  /* padding: 20px; */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  height: 90%;
  /* max-height: 800px; */
  position: relative;
}

.auction-container-left {
  flex: 3; /* 30% */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: 20px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.auction-container-mid {
  flex: 0.3; /* 10% */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.auction-container-mid-inner {
  background: rgba(255, 255, 255, 0.5); /* 임시 배경색 */
}

.auction-container-right {
  flex: 6; /* 60% */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.auction-container-right > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-auction-start {
  background-color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
  width: 100%;
  line-height: 32px;
}

.auction-seller-video-container {
  background-color: #f96363;
  border-radius: 15px;
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.auction-container-left .user-info {
  width: 80%;
  margin: auto;
}

.auction-seller-video-icon {
  width: 100px;
  height: 100px;
  background-color: #ffffff;
  border-radius: 50%;
}

.auction-seller-video-name {
  margin-top: 10px;
  color: white;
}

.auction-buyer-video-container {
  background-color: #ffffff;
  border-radius: 15px;
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  /* margin: auto; */
  margin-bottom: 20px;
}

.auction-buyer-video-icon {
  width: 100px;
  height: 100px;
  background-color: #d3d3d3;
  border-radius: 50%;
}

.auction-buyer-video-name {
  margin-top: 10px;
  color: black;
}

.bid-price {
  background-color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
  line-height: 32px;
}

.bid-price img {
  display: inline;
}

.auction-wrapper .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #000;
}

.no-one-is-here {
  align-items: center;
}

.video-container {
  /* position: relative; */
  background: #3b3b3b;
  border-radius: 6px;
  overflow: hidden;
  /* width: 100%;
    height: 100%; */
  z-index: 2;
}

.video-container video {
  width: 100%;
  height: 100%;
}

.video-container .participant-data {
  position: absolute;
  top: 0;
  left: 0;
}

.auction-seller-local-userinfo {
  padding-top: 10px;
  margin-top: 10px;
}

.max-bid-price {
  background-color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
  width: 100%;
  line-height: 32px;
}
