body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

#canvas-parent {
  display: flex;
}

.navbar {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #519c79;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-top: 1px solid black;
  z-index: 1001;
  height: 60px;
}

.left-section,
.center-section,
.right-section {
  display: flex;
  align-items: center;
}
.center-section {
  margin-left: 10px;
}
.right-section {
  margin-right: 10px;
}

.user-info {
  display: flex;
  align-items: center;
  min-width: 160px;
  border-radius: 1em;
  border: 1px solid #519c79;
  background-color: #fff;
  justify-content: center;
  height: 55px;
  position: relative;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
}

.user-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.username {
  font-weight: bold;
  margin-right: 5px;
  align-self: flex-start;
  line-height: 40px;
}

.status {
  color: #888;
  position: absolute;
  font-size: 10px;
  bottom: 10px;
  right: calc(50% - 37.5px);
}
.status-dot {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 42px;
  font-size: 10px;
  background-color: #f44336;
  top: 10px;
  right: 15px;
}
.status-dot.on {
  background-color: #6fc45c;
}

.nav-button {
  background: none;
  margin: 0 5px;
  padding: 10px;
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid #519c79;
  background-color: #fff;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
  display: flex;
  position: relative;
}

.nav-button img {
  width: 30px;
  height: 30px;
}

.notification-count {
  border-radius: 50%;
  padding: 5px;
  padding-bottom: 0;
  margin-left: 10px;
  font-size: 10px;
  margin-top: 10px;
}


/* 여기부터 리뉴얼 코드임 */
.bottom_menu_div {
  position: fixed;
  left: 50%;
  bottom: 0;
  display: flex;
  padding-bottom: max(env(safe-area-inset-bottom), 16px);
  transform: translate(
    var(--tw-translate-x), 
    var(--tw-translate-y)) rotate(var(--tw-rotate)) 
    skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) 
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)
  );
  z-index: 9999;
  margin: auto;
}

.bottom_menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 150%;
  /* background-color: #519c79; */
  padding: 0 10px;
  border: 3px solid black;
  border-radius: 2em;
  z-index: 10010;
  height: 60px;
  opacity: 0.5;
  position: relative;
  left: calc(-50%);
}

.bottom_menu:hover {
  opacity: 1;
}

.bottom_menu .bottom_menu_item {
  margin: 10px 20px;
  cursor: pointer;
}

/* 여기부터 리뉴얼 코드임 */
.product_list_div, .chat_list_div {
  position: fixed;
  bottom: 0;
  display: flex;
  padding-bottom: max(env(safe-area-inset-bottom), 16px);
  transform: translate(
    var(--tw-translate-x), 
    var(--tw-translate-y)) rotate(var(--tw-rotate)) 
    skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) 
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)
  );
  z-index: 39999;
  margin: auto;
}
.product_list_div {
  right: 1em;
}
.chat_list_div {
  left: 1em;
  /* opacity: 0.5; */
}

.chat_list_div:hover{
  opacity: 1;
}

.product_list,  .chat_list {
  overflow: hidden;
  height: 50vh; /* 전체 화면 높이 */
  width: auto;
  min-width: 400px;
  max-width: 400px;
  position: relative;
  border-radius: 15px;
}

.chat_list {
  height: calc( 80vh - 40px ); /* 전체 화면 높이 */
  padding-bottom: 40px;
  background-color: rgba(255, 255, 255, 0.2);
} 

.chat_list.private {
  background-color: rgb(255, 255, 255);
  position: absolute;
  display: none;
} 
.chat_list.private.active {
  display: block;  
}

.chat_list.minimize {
  height: 0; /* 전체 화면 높이 */
} 

.product_list.search-mode .product-list-wrap {
  display: none;
}

.product-search-wrap {
  display: none;
  width: 100%;
  height: calc(50vh - 15%);
  background-color: #fff;
  padding: 15px;
}

.product_list.search-mode .product-search-wrap {
  display: block;
}

.product-item-card {
  height: calc(50vh - 15%); /* 각 항목을 전체 화면 높이로 설정 */
  position: absolute;
  width: 100%;
  transition: transform 0.5s ease; /* 애니메이션 */
  background-color: #fff;

  display: flex;
  flex-direction: column;
  
}

.product-item-card.selected {
  transform: translateY(0);
}

.product-top, .product-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.product-top {
  padding: 10px;
  background-color: #fff;
  border-radius: 15px 15px 0 0 ;
  position: relative;
  z-index: 1;
  border-bottom : 1px solid #e0e0e0;
} 


.product-top {
  height: 15%;
  min-height: 60px;
}

.product-top > div {
  display: flex;
  flex-direction: row;
  flex : 1;
  position: relative;
}

.product-top > div img {
  display: inline;
}

.product-top > div .snp500 {
  padding: 0 10px;
  line-height: 40px;
}
.product-top > div .snp500 > span {
  cursor: pointer;
}

.product-top > div .search-div {
  padding: 0 10px;
  line-height: 40px;
  text-align: right;
  width: 100%;
  padding-right: 30px;
}

.product-top > div .search-div > span {
  cursor: pointer;
}

.product-bottom .swiper-container{
  width: 100%;
  height: 60%;
}

.new-product-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  position: relative;
  padding: 15px;
}

.new-product-info-div {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.new-product-info .new-product-seller {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 14px;
  color: #a1a1a1;
}

.new-product-info .product-name, .new-product-info .product-price {
  display: inline-block;
}

.new-product-info .product-price {
  color: #f44336;
}

.new-product-DM-div {
  border: 1px solid;
  background: url("../../../public/icon/svg/send.svg") no-repeat 20px center;
  background-color: #2359E4;
  text-align: center;
  color: white;
  line-height: 40px;
  border-radius: 10px;
  margin-top: 5px;
  cursor: pointer;
}

.new-product-DM-div span {
  cursor: pointer;
}

.product-search-wrap .searchbox {
  line-height: 40px;
  width: 100%;
  border: 1px solid #000;
  border-radius: 10px;
  height: 40px;
  padding-left: 50px;
  background: url("../../../public/icon/svg/search.svg") no-repeat 10px center;
}

.search-list {
  height: calc(38vh - 15%);
  overflow: auto;
  margin-top: 15px;
}

.search-item-card {
  border: 1px solid #000;
  border-radius: 30px;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
}

.search-bottom {
  display: flex;
  flex: 1 1;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  position: relative;
  z-index: 1;
  max-height: 100px;
}

.search-bottom img {
  max-width: 40%;
  max-height: 100%;
}

.new-product-search-info-div {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.new-product-search-info-div .product-name{
  font-weight: bold;
} 

.new-product-search-info-div .product-price{
  margin-top: 10px;
  margin-bottom: 0;
  color: #f44336;
  font-size: 1em;
}

/* 눈물젖은 상품등록 */
.product_create {
  overflow: hidden;
  height: 50vh;
  width: auto;
  min-width: 400px;
  max-width: 400px;
  position: relative;
  border-radius: 15px;
}

.product-create-top-subject {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-create-wrap {
  width: 100%;
  height: calc(50vh - 15%);
  background-color: #fff;
  padding: 15px;
  overflow: auto;
}

.product-create-wrap .new-product-info {
  padding: 0;
}

.product-create-content {

}

.new-product-container {

}

.new-product-info label{
  margin-top: 10px;
}

.new-product-info label.label-title{
  margin-top: 0;
}

.new-product-info input,.new-product-info textarea{
  width: 100%;
  height: 40px;
  border: 1px solid #A1A1A1;
  border-radius: 5px;
  padding-left: 10px;
  margin-top: 5px;
}

.new-product-info textarea{
  margin-right: 0;
  padding: 10px;
  height: 100px;
  flex: auto;
}

.new-product-info .upload-placeholder > span.plus-icon {
  background-color: #D1D5DB;
  border-radius: 5px;
  width: 53px;
  height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-product-info .upload-placeholder {
  align-items: flex-start!important;
  display: flex;
  flex-direction: row;
  justify-content: unset;
}

.new-product-info .upload-placeholder .uploaded-image {
  max-width: 40px;
  max-height: 40px;
}

.new-product-info .photo-upload {
  border: none!important;
  margin-top: 5px;
}

.new-product-detail .new-product-request {
  border: 1px solid;
  background-color: #2359E4;
  text-align: center;
  color: white;
  line-height: 40px;
  border-radius: 10px;
  margin-top: 5px;
  cursor: pointer;
  width: 100%;
}

.product_list_div .product-bottom img {
  margin: unset;
  object-fit: contain;
  width: 100%;
}

.photo-upload .file-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  width: 40px;
  height: 40px;
  position: relative;
  margin-right: 10px;
}

.photo-upload .file-item button {
  position: absolute;
  top: 0;
  right: -10px;
  width: 20px;
  height: 20px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.chat_list_div .chat_list > div:first-child {
  height: 100%;
  overflow: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 30px;
  font-size: 20px;
}

.chat_list_div .chat_list.private > div.chatList {
  padding-left: 0;
  padding-right: 0;
  /* background-color: aliceblue; */
}

.chatList .chat-room-name {
  padding-left: 20px;
  font-weight: bold;
}
.chatList .chat-room-message {
  padding-left: 20px;
}
.chat_list_div .chat_list .inputBox {
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0;
  padding-bottom: max(env(safe-area-inset-bottom), 16px);
}
.chat_list_div .chat_list.minimize .inputBox {
  display: none;
}

.chat_list_div .chat_list .inputBox input {
  width: calc(100% - 60px);
  height: 40px;
  border: 1px solid #A1A1A1;
  border-radius: 5px;
  padding-left: 10px;
}

.chat_list_div .chat-info {
  display: inline-block;
  width: fit-content;
  min-width: unset;
  height: auto;
  max-width: 100%;
  font-size: 1.3em;
  background-color: #fff;
  padding: 10px 20px;
  margin: 10px 0;
  position: relative;
  border: 2px solid #000;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
  margin-top: 30px;
}

.chat_list_div .chat-info::after{
  /* content:"";  */
  position:absolute; 
  left:-12px; 
  top:25px; 
  border-top:0px solid transparent; 
  border-bottom:12px solid transparent;
  border-right:12px solid #fff;
}

.chat_list_div .chat-info.me::after{
  left:auto; 
  right:-12px; 
  border-left:12px solid #fff; 
  border-right:0;
}

.chat_list_div .chat-message {
  word-break: break-all;
  display: block;
}

.chat_list_div .chat-name {
  display: inline-block;
  color: #a1a1a1;
  /* position: absolute; */
  top: -32px;
  left: 0px;
  word-break: break-all;
  overflow:hidden; 
  text-overflow:ellipsis; 
  white-space:nowrap;
  max-width: 100%;
  font-size: 0.8em;
  /* background-color: #fff; */
  /* border: 2px solid #000; */
  /* padding: 5px; */
  /* border-radius: 15px; */
  /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); */
}

.chat_list_div .chat-name.me {
  text-align: right;
}

.inputBox .inputDiv {
  width: 100%;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
}
.inputBox .inputDiv .sendBtn {
  background: url("../../../public/icon/svg/send.svg") no-repeat center;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #000; /* Initial background color */
  transition: background-color 1ms linear; /* Transition for smooth change */
}

.chat-room-btn-box {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  border-bottom: 2px solid;
  background-color: #FFF;
   border-radius: 15px 15px 0 0;
}

.chat-room-btn-box-inner{
  display: flex;
  justify-content: right;
}

.win-minimize {
  background: url("../../../public/icon/svg/window_minimize.svg") no-repeat 0px center;
}
.return-menu {
  background: url("../../../public/icon/svg/return-list.svg") no-repeat 0px center;
  background-size: contain;
}
.show-private {
  background: url("../../../public/icon/svg/list_icon.svg") no-repeat 0px center;
  background-size: contain;
}
.win-minimize, .return-menu, .show-private {
  height: 30px;
  width: 30px;
  opacity: 0.5;
}
.win-minimize:hover, .return-menu:hover, .show-private:hover {
  opacity: 1;
  cursor: pointer;
}





