.container {
  display: flex;
  overflow: hidden;
  /* 컨테이너 너비 조정 */
  margin: 20px auto;
  /* 페이지 중앙 정렬 */
}

.pc .left-section,
.pc .right-section {
  padding: 80px;
}

.close-button {
  position: absolute;
  top: 0px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #000;
}

.pc .left-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e8f5e9;
}

.photo-upload {
  width: 100%;
  height: 100%;
  border: 2px dashed #ccc;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  position: relative;
}

.upload-placeholder {
  text-align: center;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.plus-icon {
  font-size: 50px;
  color: #ccc;
  cursor: pointer;
}

.upload-text {
  font-size: 18px;
  color: #ccc;
}

.uploaded-image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  cursor: pointer;
}

.pc .right-section {
  flex: 1;
  background-color: #c8e6c9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.seller-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 10px;
}

.seller-name {
  display: flex;
  flex-direction: column;
}

.online-status {
  font-size: 12px;
  color: green;
}

.product-title {
  height: 40px;
  font-size: 20px;
}

.product-description {
  height: 400px;
  /* 높이 증가 */
  resize: none;
  font-size: 18px;
  /* 상세 글 폰트 사이즈 증가 */
}

.register-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
  align-self: flex-end;
  font-size: 16px;
}

.product-info .title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  background-color: #cccccc;
}

.product-info .content {
  font-size: 18px;
  margin-bottom: 20px;
  width: 100%;
  padding: 0;
  background-color: #cccccc;
}

.product-info .price {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  background-color: #cccccc;
}

.modal-content {
  display: flex;
  flex-direction: row;
  width: 80%;
  max-width: 1300px;
  background: rgba(161, 191, 163, 0.7) !important;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  position: relative;
}

.left-section {
  flex: 1 1;
}

.category {
  font-size: 16px;
  margin-bottom: 10px;
}
