.container {
    display: flex;
    background-color: #a5d6a7;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 900px;
    /* 컨테이너 너비 조정 */
    margin: 20px auto;
    /* 페이지 중앙 정렬 */
}

.pc .left-section,
.pc .right-section {
    padding: 80px;
}

.pc .left-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e8f5e9;
}

.photo-upload {
    width: 300px;
    height: 400px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    position: relative;
}

.upload-placeholder {
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.plus-icon {
    font-size: 50px;
    color: #ccc;
    cursor: pointer;
}

.upload-text {
    font-size: 18px;
    color: #ccc;
}

.uploaded-image {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    cursor: pointer;
}

.pc .right-section {
    flex: 1;
    background-color: #c8e6c9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.seller-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 10px;
}

.seller-name {
    display: flex;
    flex-direction: column;
}

.online-status {
    font-size: 12px;
    color: green;
}

.product-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    /* 제품 정보 아래 여백 추가 */
}

.product-title,
.product-description {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.product-title {
    height: 40px;
    font-size: 20px;
}

.product-description {
    height: 400px;
    /* 높이 증가 */
    resize: none;
    font-size: 18px;
    /* 상세 글 폰트 사이즈 증가 */
}



.register-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    align-self: flex-end;
    font-size: 16px;
}